[submodule "examples/nbody"]
	path = examples/nbody
    url = ../barnes-hut.git
    branch = main
[submodule "examples/synthetic"]
	path = examples/synthetic
    url = ../synthetic_graphs.git
    branch = main
[submodule "artifact/magma"]
	path = artifact/magma
	url = https://bitbucket.org/icl/magma.git
[submodule "examples/blr"]
	path = examples/blr
    url = ../BLR.git
    branch = main
