# This file may be used to create a conda environment using:
# $ conda create -n <env> -c conda-forge --file requirements.txt
# Or used to install packages with pip using:
# $ pip install -r requirements.txt
# (You may need to call pip3 instead depending on your environment.)
python==3.8
cudatoolkit==10.1.243
cudatoolkit-dev==10.1.243
cupy>=9.0.0
numba>=0.45.0
numpy>=1.16.4
scipy>=1.3.1
pytest>=5.0.1
mpi4py>=3.0.2
Cython
psutil
pexpect
mkl
mkl-service
